<div class="window">
  <div class="window__wrapper">
    <div class="window__wrapper__colum">
      <div class="window__wrapper__colum__items">
        <div class="window__wrapper__colum__items__title"><b>Growth & Death</b></div>
        <div class="window__wrapper__colum__items__rows">Apoptosis</div>
        <div class="window__wrapper__colum__items__rows">Cell Cycle</div>
        <div class="window__wrapper__colum__items__rows">DNA Replication</div>
        <div class="window__wrapper__colum__items__rows">Meiosis</div>
        <div class="window__wrapper__colum__items__rows">Mitosis</div>
      </div>
      <div class="window__wrapper__colum__items">
        <div class="window__wrapper__colum__items__title"><b>Growth & Death</b></div>
        <div class="window__wrapper__colum__items__rows">Apoptosis</div>
        <div class="window__wrapper__colum__items__rows">Cell Cycle</div>
        <div class="window__wrapper__colum__items__rows">DNA Replication</div>
        <div class="window__wrapper__colum__items__rows">Meiosis</div>
        <div class="window__wrapper__colum__items__rows">Mitosis</div>
      </div>
      <div class="window__wrapper__colum__items">
        <div class="window__wrapper__colum__items__title"><b>Growth & Death</b></div>
        <div class="window__wrapper__colum__items__rows">Apoptosis</div>
        <div class="window__wrapper__colum__items__rows">Cell Cycle</div>
        <div class="window__wrapper__colum__items__rows">DNA Replication</div>
        <div class="window__wrapper__colum__items__rows">Meiosis</div>
        <div class="window__wrapper__colum__items__rows">Mitosis</div>
      </div>
      <div class="window__wrapper__colum__items">
        <div class="window__wrapper__colum__items__title"><b>Growth & Death</b></div>
        <div class="window__wrapper__colum__items__rows">Apoptosis</div>
        <div class="window__wrapper__colum__items__rows">Cell Cycle</div>
        <div class="window__wrapper__colum__items__rows">DNA Replication</div>
        <div class="window__wrapper__colum__items__rows">Meiosis</div>
        <div class="window__wrapper__colum__items__rows">Mitosis</div>
      </div>
      <div class="window__wrapper__colum__items">
        <div class="window__wrapper__colum__items__title"><b>Growth & Death</b></div>
        <div class="window__wrapper__colum__items__rows">Apoptosis</div>
        <div class="window__wrapper__colum__items__rows">Cell Cycle</div>
        <div class="window__wrapper__colum__items__rows">DNA Replication</div>
        <div class="window__wrapper__colum__items__rows">Meiosis</div>
        <div class="window__wrapper__colum__items__rows">Mitosis</div>
      </div>
    </div>
  </div>
</div>



