<form [formGroup]="headlineForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="sectionId">SectionId:</label>
    <input id="sectionId" type="text" formControlName="sectionId">
  </div>
  <div>
    <label for="title">Title:</label>
    <input id="title" type="text" formControlName="title">
  </div>
  <div>
    <label for="filePath">Photo:</label>
    <input id="filePath" type="file" formControlName="filePath" (change)="onFileChange($event)">
  <button type="submit">Submit</button>
  </div>
</form>
