<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__info">
      <div class="footer__info__wrapper">
        <div class="footer__info__title">Title</div>
        <div class="footer__info__subtitle">subtitle</div>
        <div class="footer__info__social-network">social-network</div>
      </div>
    </div>
    <div class="footer__privacy">
      <div class="footer__privacy__wrapper">
        <div class="footer__privacy__info">privacy</div>
      </div>
    </div>
  </div>
</footer>
