

<header class="header">
  <div class="wrapper">

    <div class="header__contact">
      <div class="header__contact__photo">
        <a href="">
        </a>
      </div>
      <div class="header__contact__title"><a routerLink="">Human Phi</a></div>
      <div class="header__contact__nav-info">
        <a href="#" class="header__contact__nav-info__button">Subjects</a>
        <a href="#" class="header__contact__nav-info__button">Question Bank</a>
        <a href="#" class="header__contact__nav-info__button">Apps</a>
        <a href="#" class="header__contact__nav-info__button">Contact Us</a>
        <a href="">
        </a>
      </div>
    </div>

    <nav class="header__nav">
      <div class="header__nav__wrapper">

          @for (section of sections; track section){
            <div class="header__nav__button">
              <a href="">{{section.titleSection}}</a>
              <div class="partial">
                <div class="partial__wrapper">
                  <app-nav-menu-headlines [section]="section"></app-nav-menu-headlines>
                </div>
              </div>
            </div>
          }

      </div>
    </nav>


  </div>
</header>



