@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header__contact {
  display: grid;
  grid-template-columns: 10% 10% 25% 55%;
  width: 1250px;
  margin: 0 auto;
}
.header__contact__photo {
  grid-column-start: 1;
  grid-column-end: 2;
}
.header__contact__photo:before {
  content: url(http://placehold.it/125x162);
}
.header__contact__title {
  justify-self: end;
  align-self: end;
}
.header__contact__nav-info {
  grid-column-start: 4;
  grid-column-end: 5;
  align-self: center;
  justify-self: end;
}
.header__contact__nav-info__button {
  margin-right: 30px;
}
.header__nav {
  position: relative;
  width: 100%;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #343a40;
  max-height: 40px;
}
.header__nav__wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: space-around;
  margin: 0 auto;
  width: 1200px;
}
.header__nav__button {
  justify-self: center;
  text-decoration: none;
  padding: 10px 0 10px 0;
}
.header__nav__button:last-child {
  border-right: none;
}
.header__nav a {
  color: white;
  font-size: 14.8px;
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer__wrapper {
  display: grid;
  grid-template-rows: 75% 25%;
  color: white;
}
.footer__info {
  background-color: #32323c;
}
.footer__info__wrapper {
  display: grid;
  width: 1250px;
  margin: 0 auto;
}
.footer__info__social-network {
  justify-self: end;
}
.footer__privacy {
  background-color: #19191e;
  bottom: 10px;
}
.footer__privacy__wrapper {
  width: 1250px;
  margin: 0 auto;
}
.footer__privacy__info {
  text-align: center;
}

@media (max-width: 1400px) {
  .header__contact, .footer__info__wrapper, .footer__privacy__wrapper {
    width: 1100px;
  }
  .header__nav__wrapper {
    width: 1050px;
  }
  .header__info__photo:before {
    content: url(http://placehold.it/107x162);
  }
}
@media (max-width: 1200px) {
  .header__contact, .footer__info__wrapper, .footer__privacy__wrapper {
    width: 1000px;
  }
  .header__nav__wrapper {
    width: 950px;
  }
  .header__info__photo:before {
    content: url(http://placehold.it/97x162);
  }
}
.window__wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 1250px;
  height: auto;
  background: rgb(0, 0, 0);
}
.window__wrapper__colum {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.window__wrapper__colum__items {
  margin: 10px;
  color: white;
}
.window__wrapper__colum__items:before {
  position: absolute;
  content: "";
  background-color: #00b000;
  width: 70px;
  height: 2px;
  border-radius: 20px;
  margin-top: 30px;
}
.window__wrapper__colum__items__title {
  font-size: 20px;
  margin-bottom: 20px;
}
.window__wrapper__colum__items__rows {
  margin: 15px;
  font-size: 18px;
}
.window__wrapper__colum__items__rows:before {
  content: "+";
  position: absolute;
  left: 5px;
}

.partial {
  display: block;
  opacity: 0.8;
}
.partial__wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition-property: opacity, visibility;
  transition-duration: 0.3s, 0s;
  transition-delay: 0s, 0.3s;
}

.header__nav__button:hover .partial__wrapper {
  display: block;
  cursor: default;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transition-delay: 0s, 0s;
}

@media (max-width: 1400px) {
  .window__wrapper {
    width: 1100px;
  }
}
@media (max-width: 1200px) {
  .window__wrapper {
    width: 1000px;
  }
}
body {
  background: #f6f6f6;
}

.main {
  z-index: 1;
}
.main__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 750px 250px;
  width: 1250px;
  margin: 0 auto;
}
.main__wrapper__phone-photo img {
  width: 380px;
  height: 714px;
}
.main__wrapper__text__titel {
  font-size: 50px;
  margin-bottom: 50px;
}
.main__wrapper__text__titel:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background: green;
  border-radius: 30px;
  margin-top: 80px;
}
.main__wrapper__text__info {
  font-size: 25px;
}
.main__wrapper__text-TeachMe {
  font-size: 20px;
}
.main .categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 1250px;
  margin: 0 auto;
}
.main .categories__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 200px;
  background: white;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main .categories__items__title {
  font-size: 25px;
  margin: 7px;
}
.main .categories__items__topics {
  font-size: 20px;
  color: #00b000;
}
.main .categories__items img {
  width: 100px;
  height: auto;
}
.main .categories .articles {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main .categories .articles__title {
  width: 100%;
  height: 50px;
  font-size: 20px;
  background: #313131;
  color: white;
  text-align: center;
  align-content: center;
  margin-bottom: 20px;
}
.main .categories .articles img {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}
.main .categories .articles__sub-title {
  font-size: 20px;
  margin-bottom: 20px;
}
.main .categories .articles__text-primary {
  color: #00b000;
  font-size: 20px;
}

@media (max-width: 1400px) {
  .main__wrapper, .categories {
    width: 1100px;
  }
  .categories__items {
    width: 290px;
  }
}
@media (max-width: 1200px) {
  .main__wrapper, .categories {
    width: 1000px;
  }
  .categories__items {
    width: 210px;
  }
}

/*# sourceMappingURL=style.css.map */
