.window {
  &__wrapper {
    position: absolute;
    top:100%;
    left:50%;
    right: 50%;
    transform: translateX(-50%);
    width: 1250px;
    height: auto;
    background: rgb(0, 0, 0, 1);
    &__colum {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      &__items {
        margin: 10px;
        color: white;
        &:before {
          position: absolute;
          content: "";
          background-color: #00b000;
          width: 70px;
          height: 2px;
          border-radius: 20px;
          margin-top: 30px;
        }
        &__title {
          font-size: 20px;
          margin-bottom: 20px;
        }
        &__rows {
          margin: 15px;
          font-size: 18px;
          &:before {
            content: "+";
            position: absolute;
            left: 5px;
          }
        }
      }
    }
  }
}

.partial{
  display: block;
  opacity: 0.8;
  &__wrapper{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition-property: opacity, visibility;
    transition-duration: .3s, 0s;
    transition-delay: 0s, .3s;
  }

}

.header__nav__button:hover .partial__wrapper{
  display: block;
  cursor: default;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transition-delay: 0s, 0s;
}

@media (max-width: 1400px) {
  .window__wrapper{
    width: 1100px;
  }

}

@media (max-width: 1200px) {
  .window__wrapper{
    width: 1000px;
  }
}














